body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.header {
    display: flex; /* Esto alinea los elementos hijos en fila horizontal */
   align-items: center; /* Alinea los elementos verticalmente al centro */

}

.navbar {
    background-color: #000; /* Color de fondo de la barra */
    padding: 10px;
    display: flex;
    justify-content: center; /* Centra los enlaces */
    gap: 20px; /* Espacio entre los enlaces */
  }
  
  .navbar a {
    color: #000; /* Color del texto de los enlaces */
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
  }
  
  .navbar a:hover {
    background-color: #8b29b9; /* Color de fondo al pasar el mouse */
    text-decoration: underline;
  }
  
 
.banner img {
    width: 100%;
    height: 320px;
    display: block;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.grid-item {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.grid-item:hover {
    transform: translateY(-5px);
}

.grid-item img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.grid-item h3 {
    margin-top: 10px;
    font-size: 16px;
    color: #333;
}
.grid-item a {
    text-decoration: none;
    color: inherit;
}

.grid-item a:hover {
    opacity: 0.9; /* Añade un efecto visual al pasar el mouse */
}
